
<section class="cd-horizontal-timeline pt-20">
  <div class="timeline">
    <div class="events-wrapper">
      <div class="events">
        <ol>
          <li><a data-date="16/01/2014" class="selected">1990</a></li>
          <li><a data-date="28/02/2014">1992 </a></li>
          <li><a  data-date="20/04/2014">1995</a></li>
          <li><a  data-date="20/05/2014">2022</a></li>

        </ol>

        <span class="filling-line" aria-hidden="true"></span>
      </div> <!-- .events -->
    </div> <!-- .events-wrapper -->

    <ul class="cd-timeline-navigation">
      <li><a href="" class="prev inactive">Prev</a></li>
      <li><a href="" class="next">Next</a></li>
    </ul> <!-- .cd-timeline-navigation -->
  </div> <!-- .timeline -->

  <div class="events-content">
    <ol>
      <li class="selected" data-date="16/01/2014">
        <h2>Comienza nuestra historia</h2>
        <em>1990</em>
        <p>
          Nuestro Fundador Oswaldo Jara Cayao  trabajo en la empresa “Matusita” como maquinista y logro fidelizar la confianza necesaria para convertirse en service de fabricación.
        </p>
        <img src="assets/compañeros.jpg" alt="">
      </li>

      <li data-date="28/02/2014">
        <h2>Fundación de la Ferreteria Maroishi</h2>
        <em>1992</em>
        <p>
          Fuímos de las primeras ferreterías en Villa el Salvador y logramos traer un producto Premium a buen precio. Logramos crear el taller donde podíamos fabricar cualquier tipo de tubo.</p>
        <img src="assets/fantigua.jpg" alt="">
      </li>

      <li data-date="20/04/2014">
        <h2>Macetero de tubo</h2>
        <em>1995</em>
        <p>
          Creación de nuestro invento “Macetero de tubo”. Logramos crecer y mejorar nuestra infraestructura y mejorar nuestro almacén.   </p>
        <img src="assets/florero.jpg" alt="">
      </li>

      <li data-date="20/05/2014">
        <h2>Maroishi Hoy</h2>
        <em>2022</em>
        <p>
          Despues de mucho trabajo y esfuerzo logramos terminar  nuestro local dandonos una nueva imagen para nuestros clientes.</p>
        <img src="assets/gactual.jpg" alt="">
      </li>



    </ol>
  </div>
</section>


