
.container-form{
  padding-bottom: 20px;
  margin-left: 10%;

  width: 80%;
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 50px;

}

.container-form h2{
  margin-bottom: 15px;
  font-size: 35px;
}
.container-form p{
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 30px;
}
.container-form a{
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: black;
  font-weight: 700;
}
.container-form p i{
  color:orange;
  margin-right: 10px;

}
.container-form form .campo,textarea{
  width: 100%;
  padding: 15px 10px;
  font-size: 15px;
  border: solid 1px #dbdbdb;
  border-radius: 3px;

  margin:5px  0;
}
.container-form form textarea{
  max-width: 530px;
  min-width: 530px;
  min-height: 140px;
  max-height: 150px;
  margin:10px  0;

}
.container-form .btn-enviar{
  padding: 12px;
  font-size: 15px;
  border: none;
  background: #F59E0B;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease;


}

.container-form .btn-enviar:hover{
  background: white;
  border: solid 1px #000;
  color: orange;
}
.p-float-label1{
  margin-top:30px;
}
.label2{
  margin-top: 20px;
}
.area{
  margin-top: 28px;
}
#float-input2{
  margin-top: -2px;

}
.nav{
  display: flex;
  margin-top: 132px;
  width: 100%;
  height: 50px;
  background: #000;
  color: #fff;
  font-family: sans-serif;

  font-size: 18px;
  justify-content:flex-start;
  padding: 10px 100px;
}

.portada{
  width: 100%;
  background: #545454;
}

.portada img{
  width: 90%;
  padding-left: 10%;
  height: 350px;
}

.nav1{
  display: flex;
  width: 100%;
  height: 50px;
  background: #0c4a97;
  color: #fff;
  font-size: 18px;
  justify-content:flex-start;
  padding: 10px 100px;
}

.beneficios{
  width: 100%;
  background: #ffffff;

}
.beneficios img{
  padding-top: 30px;
  padding-bottom: 30px;
  width: 80%;
  padding-left: 18%;
  height: 250px;

}
