<div class="Nosotros">
  <div class="titulo">
    <h1 class="maroishi">DISTRIBUIDORA MAROISHI</h1>
  </div>
      <div class="quienes">
      <div class="who">
      <div class="somos">¿Quienes Somos?</div>
      <p class="centro">Centro ferretero Maroishi es una empresa dedicada al rubro ferretero que busca  una posición de liderazgo en el mercado de tiendas para el mejoramiento del hogar. Su actividad se focaliza en desarrollar y proveer soluciones a los proyectos de construcción de sus clientes, además de satisfacer las necesidades de mejoramiento y decoración de sus hogares, ofreciendo excelencia en el servicio, integridad en su trabajo y un fuerte compromiso con la comunidad.</p>
      </div>
        <div class="box1">
          <figure>
            <p-image src="assets/frontis2.jpg" alt="Image" width="500" [preview]="true"></p-image>

          </figure>
        </div>
        </div>
      <h1 class="sueño">NUESTRO SUEÑO</h1>
  <div class="dreams">
    <div class="mv">
    <div class="box">

      <div class="vision">Nuestra Visión</div>
       <P class="vi">"Ser la empresa líder en ferreteria y transformaciones para el hogar y construcción mejorando la calidad de vida, sea la más querida, admirada y respetada por la comunidad, clientes, asociados y proveedores de todo lima sur".</P>

       <div class="mision">Nuestra Misión</div>
      <P class="mi">Desarrollarnos con innovación y sostenibilidad, ofreciendo los mejores productos, servicios y asesoría al mejor precio del mercado, para inspirar y construir los sueños y proyectos de nuestros clientes.</P>
        </div>

    <div class="box">
      <figure class="fot1">
        <p-image src="assets/Hilton.jpg" alt="Image" width="400" [preview]="true"></p-image>
        </figure>
    </div>
</div>

    <div class="imagenes">
      <div #img2 class="img1">

        <p-image src="assets/jayra.jpg" alt="Image" width="400px" [preview]="true"></p-image>
      </div>
      <div class="img1">
        <p-image src="assets/trabajadores.jpg" alt="Image" width="400px" [preview]="true"></p-image>

      </div>
    </div>

</div>
</div>
